.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-title {
  font-size: 50px;
  margin-bottom: 15px;
  color: white;
}

.app-container {
  color: white;
  margin-top: -25%;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
}

.footer {
  background-color: #000;
}

.text {
  color: #fff;
}
